<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mca003.intentlogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ima"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ima"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="WELCOME"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegActivity"
            android:label="REGISTRATION"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GoogleBrowserActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            ></activity>
    </application>

</manifest>